<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
   
   <link th:href="@{/css/mypages/logStyle.css}" rel="stylesheet" />
  <!--  부트스트랩 웹폰트  -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
  rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
  
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript">   
  $(document).ready( function() {
    $("#headers").load("../default.html");  // 원하는 파일 경로를 삽입하면 된다
  });
</script>
</head>

<body>
  
  <div class="container">
    <div id="headers"></div>
    
    <div class="background2">
        <h1>로그아웃이 완료되었습니다.</h1><br><br>
        <button type="button" class="relogin" onclick="location.href='login.html' ">다시 로그인하기</button>
    </div>
  </div>
</body>
</html>
