<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div id="headers"></div>
    <div id="mask"></div> 
    <div class="content">
      <h2>개인정보</h2><br>
      <form>
        <table>
          <tr>
            <td>이름<br><br></td>
            <td>
              <input type="text" class="profile"><br><br>
            </td>
          </tr>
          <tr>
            <td>아이디<br><br></td>
            <td><input type="text" class="profile"><br><br></td>
          </tr>
          <tr>
            <td>비밀번호<br><br></td>
            <td><input type="password" class="profile"><br><br></td>
          </tr>
          <tr>
            <td>비밀번호 확인&nbsp;&nbsp;&nbsp;<br><br></td>
            <td><input type="password" class="profile"><br><br></td>
          </tr>
          <tr>
            <td>휴대전화<br><br></td>
            <td><input type="text" size="4" value="010" class="num"> -
                <input type="text" size="4" class="num"> -
                <input type="text" size="4" class="num"><br><br>
              </td>
          </tr>
          <tr>
            <td>성별<br><br></td>
            <td>
              <input type="radio" name="gender" value="여성" checked>여성 
              <input type="radio" name="gender" value="남성">남성<br><br>
            </td>
          </tr>
          <tr>
            <td>생년월일</td>
            <td>
              <input type="text" size="4" class="num">년
              <input type="text" size="4" class="num">월
              <input type="text" size="4" class="num">일
            </td>
          </tr>
        </table>
      </form>
      <br><br>
      <span><input type="button" value="회원탈퇴"></span>
      <div class="btn1"><input type="button" value="회원탈퇴">&nbsp;<input type="button" value="회원탈퇴"></div>
    </div>
  </div>
</body>
</html>
