<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link th:href="@{/css/myPages/signupStyle.css}" rel="stylesheet" />
   <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <!--  부트스트랩 웹폰트  -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
  rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

</head>
<body>
  <div class="container">
    <div style="text-align: center; padding-top: 3em;">
      <p class="title">The Scent Of You</p>
      <p class="subtitle">당신의 향기를 찾아보세요</p><br>
    </div>
      <form name="createBook" method="POST"
					th:action="@{/scentofyou/register.do}"
					enctype="multipart/form-data" id="signupform">
      <div class="background">
        <div class="signUpForm">
          <p>회원가입</p>
          <input class="input" type="text" name="userId" id="_id" size="30" placeholder="ID" required> &nbsp;<button type="button" class="button idCheck" id="idCheck">중복 아이디 확인</button>
          <br><br>
          <input class="input" type="password" name="password" id="pwd" size="30" placeholder="Password" required>
          <br><br>
          <input class="input" type="password" name="passwordCheck" id="pwdCheck" size="30" placeholder="Password 확인" required> &nbsp;<button type="button" class="button pwdCheck">Password 일치</button>
          <br><br>
          <input class="input" type="text" name="name" size="30" placeholder="Name" required>
          <br><br>
          <input class="input" type="text" name="phone" size="30" placeholder="Phone" required>
          <br><br>
          <input class="input" type="number" name="age" size="30" placeholder="Age" required>
          <br><br>
          <select class="input" name="gender" required>
            <option value="" selected disabled>Gender</option>
            <option value=1>여성</option>
            <option value=0>남성</option>
        </select>
        </div>
        <div class="agreement">
          <p>개인정보 제공 동의</p>
          <textarea rows="5" cols="30" style="resize: none;" readonly>[필수] 회원가입 이용약관
  제1장 총칙
  제 1 조 (목적)
  이 이용약관은 “the scent of yours”에서 제공하는 인터넷 서비스(이하 '서비스')의 가입조건, 당 사이트와 이용자의 권리, 의무, 책임사항과 기타 필요한 사항을 규정함을 목적으로 합니다.
  제 2 조 (용어의 정의)
  1. "이용자"라 함은 당 사이트에 접속하여 이 약관에 따라 당 사이트가 제공하는 서비스를 받는 회원 및 비회원을 말합니다.
  2. “the scent of yours”에서 제공하는 국가표준, 인증제도, 기술기준, 인증지원 정보를 말합니다.
  3. "회원"이라 함은 서비스를 이용하기 위하여 당 사이트에 개인정보를 제공하여 아이디(ID)와 비밀번호를 부여 받은 자를 말합니다.
  4. “비회원”이하 함은 회원으로 가입하지 않고 “the scent of yours”에서 제공하는 서비스를 이용하는 자를 말합니다.
  5. "회원 아이디(ID)"라 함은 회원의 식별 및 서비스 이용을 위하여 자신이 선정한 문자 및 숫자의 조합을 말합니다.
  6. "비밀번호"라 함은 회원이 자신의 개인정보 및 직접 작성한 비공개 콘텐츠의 보호를 위하여 선정한 문자, 숫자 및 특수문자의 조합을 말합니다.
  제 3 조 (이용약관의 효력 및 변경)
  1. 당 사이트는 이 약관의 내용을 회원이 알 수 있도록 당 사이트의 초기 서비스화면에 게시합니다.            2. 당 사이트는 이 약관을 개정할 경우에 적용일자 및 개정사유를 명시하여 현행 약관과 함께 당 사이트의 초기화면 또는 초기화면과의 연결화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다. 다만, 회원에게 불리하게 약관내용을 변경하는 경우에는 최소한 30일 이상의 사전 유예기간을 두고 공지합니다. 이 경우 당 사이트는 개정 전 내용과 개정 후 내용을 명확하게 비교하여 이용자가 알기 쉽도록 표시합니다.
  3. 당 사이트가 전항에 따라 개정약관을 공지하면서 “개정일자 적용 이전까지 회원이 명시적으로 거부의 의사표시를 하지 않는 경우 회원이 개정약관에 동의한 것으로 봅니다. ”라는 취지를 명확하게 공지하였음에도 회원이 명시적으로 거부의 의사표시를 하지 않은 경우에는 개정약관에 동의한 것으로 봅니다. 회원이 개정약관에 동의하지 않는 경우 당 사이트 이용계약을 해지할 수 있습니다.
  제 4 조(약관 외 준칙)
  1. 이 약관은 당 사이트가 제공하는 서비스에 관한 이용안내와 함께 적용됩니다.
  2. 이 약관에 명시되지 아니한 사항은 관계법령의 규정이 적용됩니다.
  제 2 장 이용계약의 체결
  제 5 조 (이용계약의 성립 등)
  이용계약은 이용고객이 당 사이트가 정한 약관에 「동의합니다」를 선택하고, 당 사이트가 정한 회원가입양식을 작성하여 서비스 이용을 신청한 후, 당 사이트가 이를 승낙함으로써 성립합니다.
  제 6 조 (회원가입)
  서비스를 이용하고자 하는 고객은 당 사이트에서 정한 회원가입양식에 개인정보를 기재하여 가입을 하여야 합니다.
  제 7 조 (개인정보의 보호 및 사용)
  당 사이트는 관계법령이 정하는 바에 따라 회원 등록정보를 포함한 회원의 개인정보를 보호하기 위해 노력합니다. 회원 개인정보의 보호 및 사용에 대해서는 관련법령 및 당 사이트의 개인정보 보호정책이 적용됩니다. 다만, 당 사이트 이외에 링크된 사이트에서는 당 사이트의 개인정보 보호정책이 적용되지 않습니다.
  제 8 조 (이용 신청의 승낙과 제한)
  1. 당 사이트는 제6조의 규정에 의한 이용신청고객에 대하여 약관에 정하는 바에 따라 서비스 이용을 승낙합니다.
  2. 당 사이트는 아래사항에 해당하는 경우에 대해서 회원가입을 승낙하지 아니하거나 이후 사전 통보 없이 취소할 수 있습니다.
  - 회원가입 신청 시 내용을 허위로 기재한 경우
  - 기타 규정한 제반사항을 위반하며 신청하는 경우
  - 다른 사람의 당 사이트 이용을 방해하거나 그 정보를 도용하는 등의 행위를 하였을 경우
  - 당 사이트를 이용하여 법령과 본 약관이 금지하는 행위를 하는 경우
  제 9 조 (회원 아이디 부여 및 변경 등)
  1. 당 사이트는 이용고객에 대하여 약관에 정하는 바에 따라 자신이 선정한 회원 아이디를 부여합니다.
  2. 회원 아이디는 원칙적으로 변경이 불가하며 부득이한 사유로 인하여 변경하고자 하는 경우에는 해당 아이디를 해지하고 재가입해야 합니다.
  3. 회원은 회원가입 시 기재한 개인정보가 변경되었을 경우 온라인으로 직접 수정할 수 있습니다. 이때 변경하지 않은 정보로 인해 발생되는 문제에 대한 책임은 회원에게 있습니다.
  제 3 장 계약 당사자의 의무
  제 10 조 (“the scent of yours”의 의무)
  1. 당 사이트는 이용고객이 희망한 서비스 제공 개시일에 특별한 사정이 없는 한 서비스를 이용할 수 있도록 하여야 합니다.
  2. 당 사이트는 개인정보 보호를 위해 보안시스템을 구축하며 개인정보 보호정책을 공시하고 준수합니다.
  3. 당 사이트는 회원으로부터 제기되는 의견이 합당하다고 판단될 경우에는, 적절한 조치를 취하여야 합니다.
  4. 당 사이트는 전시, 사변, 천재지변, 비상사태, 현재의 기술로는 해결이 불가능한 기술적 결함 기타 불가항력적 사유 및 이용자의 귀책사유로 인하여 발생한 이용자의 손해, 손실, 기타 모든 불이익에 대하여 어떠한 책임도 지지 않습니다.
  제 11 조 (회원의 의무)
  1. 이용자는 회원가입 신청 또는 회원정보 변경 시 실명으로 모든 사항을 사실에 근거하여 작성하여야 하며, 허위 또는 타인의 정보를 등록할 경우 일체의 권리를 주장할 수 없습니다.
  2. 당 사이트가 관계법령 및 개인정보 보호정책에 의거하여 그 책임을 지는 경우를 제외하고, 회원에게 부여된 아이디의 비밀번호 관리소홀, 부정사용 등에 의하여 발생하는 모든 결과에 대한 책임은 회원에게 있습니다.
  3. 회원은 당 사이트 및 제 3자의 지식재산권을 침해해서는 안 됩니다.
  4. 이용자는 당 사이트의 운영자, 직원, 기타 관계자를 사칭하는 행위를 하여서는 안 됩니다.
  5. 이용자는 바이러스, 악성코드 등을 제작, 배포, 이용하여서는 아니 되고, 당 사이트의 승인 없이 광고하는 행위를 하여서는 안 됩니다.
  
  제 4 장 서비스의 이용
  제 13 조 (홈페이지 저작권)
  1. 당 사이트가 게시한 본 홈페이지의 모든 콘텐트에 대한 저작권은 당 사이트에 있습니다. 다만, 게시물의 원저작자가 별도로 있는 경우 그 출처를 명시하며 해당 게시물의 저작권은 원저작자에게 있습니다.
  2. 회원이 직접 게시한 저작물의 저작권은 회원에게 있습니다. 다만, 회원은 당 사이트에 무료로 이용할 수 있는 권리를 허락한 것으로 봅니다.
  3. 당 사이트 소유의 콘텐트에 대하여 제3자가 허락 없이 다른 홈페이지에 사용 또는 인용하는 것을 금지합니다.
  제 14 조 (서비스의 변경, 중단)
  1. 당 사이트는 기술상•운영상의 필요에 의해 제공하는 서비스의 일부 또는 전부를 변경하거나 중단할 수 있습니다. 당 사이트의 서비스를 중단하는 경우에는 30일 전에 홈페이지에 이를 공지하되, 다만 사전에 통지할 수 없는 부득이한 사정이 있는 경우는 사후에 통지를 할 수 있습니다.
  2. 제1항의 경우에 당 사이트가 제공하는 서비스의 이용과 관련하여, 당 사이트는 이용자에게 발생한 어떠한 손해에 대해서도 책임을 지지 않습니다. 다만 당 사이트의 고의 또는 중대한 과실로 인하여 발생한 손해의 경우는 제외합니다.
  제 5 장 계약 해지 및 이용 제한
  제 15 조 (계약 해지)
  1. 회원은 언제든지 마이페이지 메뉴 등을 통하여 이용계약 해지 신청을 할 수 있으며, 당 사이트는 관련법 등이 정하는 바에 따라 이를 즉시 처리하여야 합니다.
  2. 회원이 계약을 해지할 경우, 관련법령 및 개인정보처리방침에 따라 당 사이트가 회원정보를 보유하는 경우를 제외하고는 해지 즉시 회원의 모든 데이터는 소멸됩니다.
  3. 회원이 계약을 해지하는 경우, 회원이 작성한 게시물(공용게시판에 등록된 게시물 등)은 삭제되지 아니합니다.
  제 16 조 (서비스 이용제한)
  1. 당 사이트는 회원이 서비스 이용에 있어서 본 약관 및 관련 법령을 위반하거나, 다음 각 호에 해당하는 경우 서비스 이용을 제한할 수 있습니다.
  - 2년 이상 서비스를 이용한 적이 없는 경우
  - 기타 정상적인 서비스 운영에 방해가 될 경우
  2. 상기 이용제한 규정에 따라 서비스를 이용하는 회원에게 사전 통지 후 서비스 이용을 일시정지 등 제한하거나 이용계약을 해지 할 수 있습니다. 단, 불가피한 사유로 사전 통지가 불가능한 경우에는 그러하지 아니합니다.
  [부 칙]
  (시행일) 이 약관은 2016년 12월 30일부터 적용되며, 종전 약관은 본 약관으로 대체되며, 개정된 약관의 적용일 이전 가입자도 개정된 약관의 적용을 받습니다.</textarea><br>
          <input type="checkbox" name="agree1" class="checkbox" required>동의합니다<br><br>
          <textarea rows="5" cols="30" style="resize: none;" readonly>[필수] 개인정보 수집 및 이용동의
  제1조(개인정보의 처리 목적)
  
  “the scent of you”은(는) 다음의 목적을 위하여 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며 이용 목적이 변경되는 경우에는 「개인정보 보호법」 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다.
  1. 홈페이지 회원가입 및 관리
  회원 가입의사 확인, 회원제 서비스 제공에 따른 본인 식별·인증 목적으로 개인정보를 처리합니다.
  2. 재화 또는 서비스 제공
  서비스 제공, 본인인증을 목적으로 개인정보를 처리합니다.
  
  제2조(개인정보의 처리 및 보유 기간)
  
  1. “the scent of you”은(는) 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터 개인정보를 수집 시에 동의받은 개인정보 보유·이용기간 내에서 개인정보를 처리·보유합니다.
  2. 각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.
  <홈페이지 회원가입 및 관리>
  -  <홈페이지 회원가입 및 관리>와 관련한 개인정보는 수집.이용에 관한 동의일로부터<1년>까지 위 
  이용목적을 위하여 보유.이용됩니다.
  - 보유근거 : 부정 이용 방지
  - 관련법령 : 신용정보의 수집/처리 및 이용 등에 관한 기록 : 3년
  
  제3조(처리하는 개인정보의 항목)
  1.  “the scent of you”은(는) 다음의 개인정보 항목을 처리하고 있습니다.
  < 홈페이지 회원가입 및 관리 >
  - 필수항목 : 휴대전화번호, 비밀번호, 로그인ID, 성별, 이름
  
  제4조(개인정보의 파기절차 및 파기방법)
  1.“the scent of you”은(는) 개인정보 보유기간의 경과, 처리목적 달성 등 개인정보가 불필요하게 되었을 때에는 지체없이 해당 개인정보를 파기합니다.
  2. 정보주체로부터 동의받은 개인정보 보유기간이 경과하거나 처리목적이 달성되었음에도 불구하고 다른 법령에 따라 개인정보를 계속 보존하여야 하는 경우에는, 해당 개인정보를 별도의 데이터베이스(DB)로 옮기거나 보관장소를 달리하여 보존합니다.
  3. 개인정보 파기의 절차 및 방법은 다음과 같습니다.
  <파기절차>
  “the scent of you”은(는) 파기 사유가 발생한 개인정보를 선정하고, “the scent of you”의 개인정보 보호책임자의 승인을 받아 개인정보를 파기합니다.
  
  제5조(정보주체와 법정대리인의 권리·의무 및 그 행사방법에 관한 사항)
  1. 정보주체는 “the scent of you”에 대해 언제든지 개인정보 열람·정정·삭제·처리정지 요구 등의 권리를 행사할 수 있습니다.
  2. 제1항에 따른 권리 행사는“the scent of you”에 대해 「개인정보 보호법」 시행령 제41조제1항에 따라 서면, 전자우편, 모사전송(FAX) 등을 통하여 하실 수 있으며 “the scent of you”은(는) 이에 대해 지체 없이 조치하겠습니다.
  3. 제1항에 따른 권리 행사는 정보주체의 법정대리인이나 위임을 받은 자 등 대리인을 통하여 하실 수 있습니다.
  이 경우 “개인정보 처리 방법에 관한 고시(제2020-7호)” 별지 제11호 서식에 따른 위임장을 제출하셔야 합니다.
  4. 개인정보 열람 및 처리정지 요구는 「개인정보 보호법」 제35조 제4항, 제37조 제2항에 의하여 정보주체의 권리가 제한 될 수 있습니다.
  5. 개인정보의 정정 및 삭제 요구는 다른 법령에서 그 개인정보가 수집 대상으로 명시되어 있는 경우에는 그 삭제를 요구할 수 없습니다.
  6. “the scent of you”은(는) 정보주체 권리에 따른 열람의 요구, 정정·삭제의 요구, 처리정지의 요구 시 열람 등 요구를 한 자가 본인이거나 정당한 대리인인지를 확인합니다.
  
  ※ 동의를 거부할 수 있으나 거부시 회원 가입이 불가능합니다.</textarea><br>
          <input type="checkbox" name="agree2" class="checkbox" required>동의합니다<br><br>
          <textarea rows="5" cols="30" style="resize: none;" readonly>[선택] 정보수신동의
  웹사이트에서 제공하는 유익한 정보를 이메일로 받아보실 수 있습니다.
  단, 주요 정책과 관련된 내용은 수신동의 여부와 관계없이 발송됩니다.
  선택 약관에 동의하지 않으셔도 회원가입은 가능하며, 회원가입 후 회원정보수정 페이지에서 언제든지 수신여부를 변경하실 수 있습니다.</textarea><br>
          <input type="checkbox" name="agree3" class="checkbox">동의합니다<br><br>
          <input type="checkbox" name="agreeall" class="checkall">모두 동의합니다
        </div>
        <div style="clear: both;"></div>
      </div><br>
      <div class="startbtn">
        <input class="start" type="submit" value="시작하기"  id="signupform">
      </div>
    </form>
  </div>

  <script type="text/javascript" src="/js/signup.js"></script> 
</body>
</html>
