<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link th:href="@{/css/myPages/signupStyle.css}" rel="stylesheet" />
<!--  부트스트랩 웹폰트  -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

</head>

<body>

	<div class="container">
		<!-- <div id="headers"></div>
    <div id="mask"></div>  -->
		<div style="text-align: center; padding-top: 3em;">
			<h1>The Scent Of You</h1>
			<h6>당신의 향기를 찾아보세요</h6>
			<br>
		</div>
		<div class="background1">
		<!-- submit 버튼은 form 태그 안에 있어야 합니다-->
			<div class="form">
				<p>회원가입</p>
				<form name="createBook" method="POST"
					th:action="@{/scentofyou/register.do}"
					enctype="multipart/form-data" id="signupform">
					<div class="signUpForm">
						<input class="input" type="text" name="userId" size="30"
							placeholder="ID" required> &nbsp;
						<!-- <button type="button" class="idCheck" onclick="">중복 아이디
							확인</button> -->
						<br> <br> <input class="input" type="password"
							name="password" size="30" placeholder="Password" required><!-- TODO:자바스크립트로 프론트단에서 일치하는지 확인해주세요 -->
						<br> <br> <input class="input" type="password"
							name="passwordCheck" size="30" placeholder="Password 확인" required>
						&nbsp;
						<!-- 
						<button type="button" class="pwdCheck" onclick="">Password
							일치</button> -->
						<br> <br> <input class="input" type="text" name="name"
							size="30" placeholder="Name" required> <br> <br>
						<input type="number" name="age" placeholder="나이" id="input"
							required>
						<!-- <input class="input" type="email" name="email" size="30" placeholder="E-mail" required> &nbsp;<button type="button" class="emailCheck" onclick="">중복 이메일 확인</button> -->
						<br> <select class="input" name="gender" id="gender" required>
							<option value="">성별</option>
							<option value=0>남성</option>
							<option value=1>여성</option>
						</select> <input type="text" name="phone" class="input" placeholder="phone">
						<!-- <br> 간편 회원 가입<br>
						<br> <a href="#"><img class="icon"
							src="../icon/naver.png"></a>&nbsp;&nbsp; <a href="#"><img
							class="icon" src="../icon/kakaotalk.png"></a>&nbsp;&nbsp; <a
							href="#"><img class="icon" src="../icon/facebook.png"></a>&nbsp;&nbsp;
						<a href="#"><img class="icon" src="../icon/google.png"></a> -->

					</div>
					<div class="agreement">
						개인정보 제공 동의<br>
						<textarea rows="5" cols="30" style="resize: none;" readonly>개인정보 제공 동의서 내용</textarea>
						<br> <input type="checkbox" name="agree1" required>동의합니다<br>
						<textarea rows="5" cols="30" style="resize: none;" readonly>개인정보 제공 동의서 내용</textarea>
						<br> <input type="checkbox" name="agree2" required>동의합니다<br>
						<textarea rows="5" cols="30" style="resize: none;" readonly>개인정보 제공 동의서 내용</textarea>
						<br> <input type="checkbox" name="agree3" required>동의합니다<br>
						<input type="checkbox" name="agreeall">모두 동의합니다<!--TODO: 위 항목 3개 다 동의시 자동 체크되도록 + 여기 체크 시 위 3개 다 체크 되도록 -->

					</div>
					<div>
						<input class="start" type="submit" value="시작하기" id="signupform">
					</div>
				</form>
				<div style="clear: both;"></div>
			</div>
		</div>

	</div>
</body>
</html>